body {
    background: linear-gradient(135deg, #EEE2DE, #e2cdc5);
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #111;
}

a {
    text-decoration: none;
}

.header {
    background-color: #284761;
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h2 {
    font-size: 22px;
    margin: 0;
    color: white;
    cursor: pointer;
}

.header .menu {
    display: flex;
    gap: 16px;
}

.header .menu a {
    font-weight: bold;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.12s, color 0.12s;
}

.header .menu a:hover {
    background-color: white;
    color: #27445D;
}