* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 12px;
    transition: all 0.2s;
    line-height: 1.2;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.header {
    background-color: #003246;
    border-radius: 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 0.48rem 1rem;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 100;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.header .menu {
    display: flex;
    margin-left: auto;
}

.header .menu a {
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.16);
}

.header .menu a:hover {
    background-color: white;
    color: #003246;
}